<html>
<body>
    <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>