<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Cars</title>
</head>
<body>
    <h1>Here are some cars</h1>
    <div id='imgs'>
        <img id='car1' src='images/car1.jpg' alt='First car'/>
        <img id='car2' src='images/car2.jpg' alt='Second car'/>
        <img id='car3' src='images/car3.jpg' alt='Third car'/>
        <img id='car4' src='images/car4.jpg' alt='Fourth car'/>
    </div>
</body>
</html>