<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <div id="form">
        <form action="/quotes" method="post">
            <label>Your Name:</label><input type="text" name="name">
            <label>Your Quote:</label><input type="text" name="quote">
            <input type="submit" class="btn" name="add" value="Add My Quote!">
        </form>
    </div> <!-- form -->
    <a href="/quotes">Skip to Quotes!</a>
</body>
</html>