<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
</head>
<body>
    <div id="intro">
        <h2>Here are the awesome quotes!</h2>
    </div>
    <div id="quotes">
        <% for(const q in quotes) { %>
            <p id="quote_body"><%= q.quote %></p>
            <p id="name_date"> - <%= q.name %> at <%= q.createdAt %></p>
        <% } %>
    </div> <!-- quotes -->
</body>
</html>