<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon API</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.get('https://pokeapi.co/api/v2/pokemon/4', function(data) {
                console.log('Received data from API', data);
                var mypokemon = data.name;
                $('#pokemon').html(mypokemon);
            })
        })
    </script>
</head>
<body>
    <p>I love</p>
    <p id='pokemon'></p>
</body>
</html>