<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Survey Result</title>
</head>
<body>
    <h3>Submitted Information</h3>
    <p>Name:<span class="result"><%= survey.name %></span></p>
    <p>Dojo Location: <span class="result"><%= survey.dojo %></span></p>
    <p>Favorite Language: <span class="result"><%= survey.lang %></span></p>
    <p>Comment: <span class="result"><%= survey.comment %></span></p>
</body>
</html>