<html>
<body>
    <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>

    <a href="/users/1" type='button'>See user 1</a>
</body>
</html>