<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quoting Dojo</title>
</head>
<body>
    <h2>Welcome to Quoting Dojo!</h2>
    <form action="/quotes" method="post">
        <label>Your Name:</label><input type="text" name="name">
        <label>Your Quote:</label><input type="text" name="quote">
        <input type="submit" id="add_btn" name="add" value="Add My Quote!">
    </form>
    <form action="/quotes">
        <input type="submit" id="skip_btn" value="Skip to Quotes!" />
    </form>
</body>
</html>